html.
  <link rel="import" href="../components/polymer/polymer.html">
  <link rel="import" href="../components/core-icon-button/core-icon-button.html">

  <polymer-element name="post-card">
    <template>
      <style>
      :host {
        display: block;
        background-color: white;
       
      }
    
    
      </style>

      <div class="card-header" >

        <content select="img"></content>
        <content select="h2"></content>
        <content select="p"></content>
        <content select="p"></content>
        <content select="p"></content>
      </div>


      <content></content>
    </template>
    <script>
    Polymer({
      publish: {
        favorite: {
          value: false,
          reflect: true
        }
      },
      favoriteTapped: function(event, detail, sender) {
        this.favorite = !this.favorite;
        this.fire('favorite-tap');
      }
    });
    </script>
  </polymer-element>
