html.
  <link rel="import" href="../components/polymer/polymer.html">
  <link rel="import" href="../post-service/post-service.html">
  <link rel="import" href="post-card.html">
  <link rel="import" href="packery-element.html">

  <polymer-element name="post-list" attributes="show">
    <template>
      <style>
      :host {
        width: 250px;
        height: 250px;
        margin: 20px;
      }
     
      </style>
      <post-service id="service" posts="{{posts}}"></post-service>
            <juicy-tile-list>
     <template repeat="{{post,i in posts}}">
     

              <post-card class="item">
                <img src="{{post.avatar}}" width="70" height="70">
                <h2>{{post.username}}</h2>
                <p>IP: {{post.text}}</p>
                <p>RAM: {{post.text}}</p>
                <p>CPU:{{post.text}}</p>
              </post-card>
           
         
        </template>
        <juicy-tile-list>
    </template>

    <script>
      Polymer({});
    </script>
  </polymer-element>
