link(rel="import", href="../components/polymer/polymer.html")
link(rel="import", href="../components/core-icon-button/core-icon-button.htm")
block css
  link(rel='stylesheet', href='../css/container.css')
  template.
    .card-header
      content(select="img")
      content(select="h2")
        content()
  script.
    Polymer({});
