extends layout

block content
  link(rel='stylesheet', href='../css/style.css')
  link(rel='stylesheet', href='../css/container.css')
  core-header-panel()
    core-toolbar()
      paper-tabs(id="tabs" selected="all" self-end)
        paper-tab(name="all").
          Containers
        paper-tab(name="favorites").
          Cluster Map
        paper-tab(name="about").
          About
          
  .container(layout vertical center)        
    block post-card
      h2 aaasdfasdfasfasfsdfassdafasdfsdf
      p a
      img("height=70" "width=70" "src=http://3.bp.blogspot.com/-kwoCGd1AvQs/URZaP8u3cdI/AAAAAAAABJ0/_zE0HY1XaLA/s1600/octocat.png")
      
    block post-card
      h2 aaasdfasdfasfasfsdfassdafasdfsdf
      p a
      img("height=70" "width=70" "src=http://3.bp.blogspot.com/-kwoCGd1AvQs/URZaP8u3cdI/AAAAAAAABJ0/_zE0HY1XaLA/s1600/octocat.png")
   
   