doctype html
html(lang='en')
  head
    title= "charliefoxtrot"
    block css
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css')
    block js
      script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
      script(src='http://localhost:35729/livereload.js')
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
      
      
  body()
    block content


